#headImg {
    height: 35px;
    border-radius: 15px;
  }
  button {
    cursor: pointer;
    position: absolute;
    right: 0%;
    margin: 3px 0px 5px 0px;
  }
  #searchKey {
    right: 0%;
    width: 100px;
    color: red;
    border-radius: 6px;
  }
  #homeText {
    cursor: pointer;
    width: 327px;
    background-color: #222222;
    opacity: 0.5;
    border-radius: 15px;
  }
  #qqChat {
    position: fixed; right: 0%; top: 9%; opacity: 0.5
  }